<div class="splash-screen" *ngIf="visible" [class.hiding]="hiding">
  <div class="clouds">
    <div class="cloud cloud1"></div>
    <div class="cloud cloud2"></div>
    <div class="cloud cloud3"></div>
    <div class="cloud cloud4"></div>
    <div class="cloud cloud5"></div>
  </div>

  <div class="loader">
    <span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="base">
      <span></span>
      <div class="face"></div>
    </div>
  </div>

  <div class="longfazers">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
